.loginEntero {
    min-height: 90vh;
    min-width: 100vw;
    background-image: url(../../../img/fachadaClinica.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formularioLogin {
    font-weight: bold;
    color: darkred;
    text-decoration: none;
    min-height: 30vh;
    min-width: 30vw;
    width: auto;
    border: 0.3em solid gray;
    border-radius: 3em;
}