.bodyVista {
  min-height: 90vh;
  background-image: url(../../../img/fachadaClinica.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 80%; */
}

.cardCita {
  height: auto;
  max-width: 25em;
  margin-left: 1em;
  padding: 2em;
  font-size: large;
  font-weight: bold;
  border: 0.05em solid black;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-radius: 3em;
}

h1 {
  margin-left: 3em;
}
.bodyVista button {
  margin-bottom: 2em;
}

.botonEliminar {
  margin-left: 1em;
}

.filterContainer {
  width: auto;
  max-width: 20em;
  border: 0;
  margin-left: 3em;
  margin-right: 3em;
}

#filterDate {
  width: 100%;
  color: darkred;
  border: 0.15em solid #0075bb;
}
