.paginaEntera {
  max-width: 100vw;
  background-image: url(../../../img/recepcionClinica.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondoPrincipal {
  width: 100%;
  height: 100%;
}

.zonaCards {
  display: flex;
  justify-content: space-around;
  margin: 0;
  height: 100%;
}

.bodyCard1 {
  background-image: url(../../../img/fondoCardMuela2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}


