.padre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginaEntera {
  height: 88.6vh;
  width: 100vw;
  background-image: url(../../../img/muelaTatoo.png);
  background-repeat: no-repeat;
 background-position: center;
 background-size: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

}


.fondoPrincipal {
  width: 100%;
  height: 100%;
  
}

.cardsIzquierda {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardsDerecha {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
