.homeGeneral {
  height: 92em;
  width: 100vw;
  background-color: white;
  position: relative;
}

.fondoPrincipal {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardsIzquierda {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .primeraCard,.segundaCard,.terceraCard {
    margin-bottom: 15em;
    margin-left: 7em;
  }
  

.cardsDerecha {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
