.botonCambiaVista2Design {
  height: 2.5em;
  width: 8em;
  background-color: transparent;
  border-radius: 2em;
  font-weight: bold;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0075bb;
  cursor: pointer;
  font-size: xx-large;
}

.botonCambiaVista2Design:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
