.botonCambiaVista2Design {
    height: 2.5em;
    width: 6em;
    background-color: white;
    margin: 1em;
    border-radius: 2em;
    font-weight: bold;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #002e60;
    cursor: pointer;
}

.botonCambiaVista2Design:hover {
    background-color: greenyellow;
    transition: 0.3s;

}