.headerGeneral {
    height: 8vh;
    width: 100vw;
    background-color: #002e60;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.botonDos {
    margin-right: 2em;
}

.botonIconoPrincipal {
    color: white;
    height: 2.5em;
    width: 10em;
    display: flex;
    justify-content: start;
    align-items: center;
}