/* .navbar-brand {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  justify-content: flex-start;

} */

.navbar-links {
  font-size: large;
}
.navbarComun {
  position: relative;
  z-index: 99;
  color: #0075bb;
}

