.navbar-brand {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }