* {
    overflow-x: hidden;
}

.vistaCompleta {
    width: 100vw;
    min-height: 87vh;
    background-image: url(../../../img/muelaTatoo.png);
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 35%;
}

.cardsUsers {
    height: auto;
    max-width: 42em;
    margin: 1em;
    border-radius: 1em;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: darkred;
}
.cardIndividual {
    border: 0.15em solid darkblue;
    border-radius: 1em;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    max-width: 40em;
    min-height: 2em;
    padding: 1em;
    background-color:powderblue;

}