* {
    overflow-x: hidden;
}

.citasDoctor {
    height: auto;
    min-height: 90vh;
    background-image: url(../../../img/muelaTatoo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
}

.cardsCitas {
    height: auto;
    max-width: 42em;
    margin: 1em;
    border: 0.2em solid #0075bb;
    border-radius: 1em;
    display: flex;
    align-items: center;
}

h1 {
    margin-left: em;
}

.relative {
    /* border: 0.15em solid #0075bb; */
    height: 3em;
    max-width: 33em;
    margin-left: 1em;
    display: flex;
    justify-content: center;
}

.buscador {
    color: darkred;
    width: 50%;
    border: 0.15em solid #0075bb;
    
}